/1_layout/1.1_basico/ejercicio-1/.node_modules
/1_layout/1.1_basico/ejercicio-1/.parcel-cache
/1_layout/1.1_basico/ejercicio-2/.node_modules
/1_layout/1.1_basico/ejercicio-2/.parcel-cache
/1_layout/1.1_basico/ejercicio-3/.node_modules
/1_layout/1.1_basico/ejercicio-3/.parcel-cache
/1_layout/1.1_basico/ejercicio-4/.node_modules
/1_layout/1.1_basico/ejercicio-4/.parcel-cache

/1_layout/1.2_extra/node_modules
/1_layout/1.2_extra/.parcel-cache

/2_lenguajes/.parcel-cache

/3_bundling/node_modules

