@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&family=Roboto:wght@300&display=swap');

$bg-dark: #11111e;
$primary-dark: #f7a400;
$secondary-dark: #3a9efd;
$tertiary-dark: #3a9efd;
$font-dark-primary: "Poppins", sans-serif;
$font-dark-secondary: "Poppins", sans-serif;

$bg-light: #f1e8e6;
$primary-light: #f55951;
$secondary-light: #543c52;
$tertiary-light: #361d32;
$font-light-primary: "Rokkitt", serif;
$font-light-secondary:'Roboto', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  p{
    font-size: 15px;
    line-height: 25px;
  }
  h1{
    padding-bottom: 20px;
  }
  button {
    padding: 12px 20px;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1;
    text-transform: uppercase;

  }
}

#dark {
  padding: 10%;
  background-color: $bg-dark;
  color: $bg-light;
  h1 {
    font-family: $font-dark-primary;
    font-size: 3rem;
    font-weight: 600;
  }
  p{
    font-family: $font-dark-secondary;
  }
  .btn {
    border-radius: 100px;
    &.primary{
      background-color: $primary-dark;
      color:$bg-dark;
      border: none;
    }
    &.secondary{
      background-color: $secondary-dark;
      color:$bg-dark;
      border: none;
      &:hover{
        background-color: lighten($secondary-dark);
      }
    }
    &.tertiary{
      background-color: transparent;
      color:$tertiary-dark;
      border: 2px solid $tertiary-dark;
    }
  }
}

#light {
  padding: 10%;
  background-color: $bg-light;
  h1 {
    font-family: $font-light-primary;
    font-weight: 100;
    font-size: 3.2rem;
  }
  p {
    font-family: $font-light-secondary;
  }
}

.container {
  display: flex;
  height: 100vh;
  .middle {
    width: 50vw;
  }
}
.button-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}