.container-1, .container-2, .container-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 60px 60px 60px auto 60px 60px 60px 60px;
      grid-template-columns: 60px 60px 60px 60px auto 60px 60px 60px 60px;
  -ms-grid-rows: (56px)[3];
      grid-template-rows: repeat(3, 56px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 5px;
}

.container-1 .box, .container-2 .box, .container-3 .box {
  background-color: #262661;
  color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}

.container-1 .red.base-color, .container-2 .red.base-color, .container-3 .red.base-color {
  background-color: red;
}

.container-1 .red.darken-1, .container-2 .red.darken-1, .container-3 .red.darken-1 {
  background-color: #cc0000;
}

.container-1 .red.darken-2, .container-2 .red.darken-2, .container-3 .red.darken-2 {
  background-color: #990000;
}

.container-1 .red.darken-3, .container-2 .red.darken-3, .container-3 .red.darken-3 {
  background-color: #660000;
}

.container-1 .red.darken-4, .container-2 .red.darken-4, .container-3 .red.darken-4 {
  background-color: #330000;
}

.container-1 .red.lighten-1, .container-2 .red.lighten-1, .container-3 .red.lighten-1 {
  background-color: #ff3333;
}

.container-1 .red.lighten-2, .container-2 .red.lighten-2, .container-3 .red.lighten-2 {
  background-color: #ff6666;
}

.container-1 .red.lighten-3, .container-2 .red.lighten-3, .container-3 .red.lighten-3 {
  background-color: #ff9999;
}

.container-1 .red.lighten-4, .container-2 .red.lighten-4, .container-3 .red.lighten-4 {
  background-color: #ffcccc;
}

.container-1 .blue.base-color, .container-2 .blue.base-color, .container-3 .blue.base-color {
  background-color: blue;
}

.container-1 .blue.darken-1, .container-2 .blue.darken-1, .container-3 .blue.darken-1 {
  background-color: #0000cc;
}

.container-1 .blue.darken-2, .container-2 .blue.darken-2, .container-3 .blue.darken-2 {
  background-color: #000099;
}

.container-1 .blue.darken-3, .container-2 .blue.darken-3, .container-3 .blue.darken-3 {
  background-color: #000066;
}

.container-1 .blue.darken-4, .container-2 .blue.darken-4, .container-3 .blue.darken-4 {
  background-color: #000033;
}

.container-1 .blue.lighten-1, .container-2 .blue.lighten-1, .container-3 .blue.lighten-1 {
  background-color: #3333ff;
}

.container-1 .blue.lighten-2, .container-2 .blue.lighten-2, .container-3 .blue.lighten-2 {
  background-color: #6666ff;
}

.container-1 .blue.lighten-3, .container-2 .blue.lighten-3, .container-3 .blue.lighten-3 {
  background-color: #9999ff;
}

.container-1 .blue.lighten-4, .container-2 .blue.lighten-4, .container-3 .blue.lighten-4 {
  background-color: #ccccff;
}

.container-1 .green.base-color, .container-2 .green.base-color, .container-3 .green.base-color {
  background-color: green;
}

.container-1 .green.darken-1, .container-2 .green.darken-1, .container-3 .green.darken-1 {
  background-color: #004d00;
}

.container-1 .green.darken-2, .container-2 .green.darken-2, .container-3 .green.darken-2 {
  background-color: #001a00;
}

.container-1 .green.darken-3, .container-2 .green.darken-3, .container-3 .green.darken-3 {
  background-color: black;
}

.container-1 .green.darken-4, .container-2 .green.darken-4, .container-3 .green.darken-4 {
  background-color: black;
}

.container-1 .green.lighten-1, .container-2 .green.lighten-1, .container-3 .green.lighten-1 {
  background-color: #00b300;
}

.container-1 .green.lighten-2, .container-2 .green.lighten-2, .container-3 .green.lighten-2 {
  background-color: #00e600;
}

.container-1 .green.lighten-3, .container-2 .green.lighten-3, .container-3 .green.lighten-3 {
  background-color: #1aff1a;
}

.container-1 .green.lighten-4, .container-2 .green.lighten-4, .container-3 .green.lighten-4 {
  background-color: #4dff4d;
}
/*# sourceMappingURL=style.css.map */